.form-container {
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    padding-top: 100px;
    padding-bottom: 100px;
}

.btn-custom-color {
    background-color: var(--primary-color);
    color: var(--font-color-white);
    transition: all 0.3s ease-in-out;
}

.btn-custom-color:hover {
    background-color: none;
    border: 1px solid var(--primary-color);
    color: var(--font-color-black);
}

.btn-vibrant-golden-yellow {
    background-color:  var(--vibrant-golden-yellow);
    color: #0c0b55;
    font-weight: 800;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-vibrant-golden-yellow:hover {
    background-color:  var(--darken-golden-shade);
    transform: scale(1.05); /* Subtle pop effect */
}

.dashboard-tabs-container {
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 100px;
}

.dashboard-nav-link {
    color: var(--font-color-white);
}

.dashboard-nav-link:active {
    color: var(--font-color-black);
}

.dashboard-nav-link:hover {
    color: var(--font-color-white);
}