:root {
    --primary-color: #0c0b55;
    --secondary-color: #feffff;
    --font-color-black: #0c0c1f;
    --font-color-white: #feffff;
    --font-family: "Montserrat", sans-serif;
}

body {
    background-color: var(--primary-color);
}

.montserrat-thin {
  font-family: var(--font-family);
  font-weight: 100;
  font-style: normal;
}
  
  .montserrat-extralight {
    font-family: var(--font-family);
    font-weight: 200;
    font-style: normal;
  }
  
  .montserrat-light {
    font-family: var(--font-family);
    font-weight: 300;
    font-style: normal;
  }
  
  .montserrat-regular {
    font-family: var(--font-family);
    font-weight: 400;
    font-style: normal;
  }
  
  .montserrat-medium {
    font-family: var(--font-family);
    font-weight: 500;
    font-style: normal;
  }
  
  .montserrat-semibold {
    font-family: var(--font-family);
    font-weight: 600;
    font-style: normal;
  }
  
  .montserrat-bold {
    font-family: var(--font-family);
    font-weight: 700;
    font-style: normal;
  }
  
  .montserrat-extrabold {
    font-family: var(--font-family);
    font-weight: 800;
    font-style: normal;
  }
  
  .montserrat-black {
    font-family: var(--font-family);
    font-weight: 900;
    font-style: normal;
  }
  
  .montserrat-thin-italic {
    font-family: var(--font-family);
    font-weight: 100;
    font-style: italic;
  }
  
  .montserrat-extralight-italic {
    font-family: var(--font-family);
    font-weight: 200;
    font-style: italic;
  }
  
  .montserrat-light-italic {
    font-family: var(--font-family);
    font-weight: 300;
    font-style: italic;
  }
  
  .montserrat-regular-italic {
    font-family: var(--font-family);
    font-weight: 400;
    font-style: italic;
  }
  
  .montserrat-medium-italic {
    font-family: var(--font-family);
    font-weight: 500;
    font-style: italic;
  }
  
  .montserrat-semibold-italic {
    font-family: var(--font-family);
    font-weight: 600;
    font-style: italic;
  }
  
  .montserrat-bold-italic {
    font-family: var(--font-family);
    font-weight: 700;
    font-style: italic;
  }
  
  .montserrat-extrabold-italic {
    font-family: var(--font-family);
    font-weight: 800;
    font-style: italic;
  }
  
  .montserrat-black-italic {
    font-family: var(--font-family);
    font-weight: 900;
    font-style: italic;
  }
  