.modal-primary-header {
    background-color: var(--primary-color);
}

.modal-primary-title {
    color: var(--font-color-white);
}

button[aria-label="Close"].modal-primary-button-close {
    filter: invert(1); 
}

.modal-warning-header {
    background-color: var(--vibrant-golden-yellow);
}

button[aria-label="Close"].modal-warning-close-button {
    filter: invert(0); 
}

.modal-danger-header {
    background-color: var(--blue-coral-red);
}

.modal-danger-title {
    color: var(--font-color-white);
}

button[aria-label="Close"].modal-danger-close-button {
    filter: invert(5); 
}