.modal-dialog {
    background-color: #C1D8C8;
}
.modal-title {
    color: #000;
    transition: all 0.5s ease-in-out;
}
.modal-title:hover {
    color: #D9A76D;
}
.btn-custom-success {
    background-color: #92B5A0;
    color: #F9F4EF;
    transition: all 0.5s ease-in-out;
}
.btn-custom-success:hover {
    background-color: none;
    border: 2px solid #92B5A0;
    color: #000;
}
.btn-close {
    color: #92B5A0;
    transition: all 0.5s ease-in-out;
}
.modal-body {
    background-color: #92B5A0;
}